@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./slider.css");
@import url("./navbarIcon.css");
@import url("./cards.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html,
body {
  --main-primary-color: rgb(0 56 168);
  --main-secondary-color: rgb(213 43 30);
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

input,
button {
  outline: none;
}

.buttonTransition {
  transition: all 300ms ease;
}

.buttonTransition svg {
  transition: all 300ms ease;
  fill: rgb(0 56 168);

}

.buttonTransition:hover svg {
  fill: var(--main-secondary-color);
}

.styled-select select {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1.5s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.index-cover-container {
  position: relative;
  background-image: url('../public/img/wavingflag.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.index-cover-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(255, 255, 255, 0.5);
}

.index-cover-passport {
  position: absolute;
  width: 320px;
  right: 128px;
  bottom: -64px;
  z-index: 10;
  display: none;
}

.index-cover-caption-container {
  position: relative;
  max-width: 1280px;
  padding-top: 96px;
  padding-bottom: 96px;
  margin: auto;
  z-index: 10;
}
.index-cover-caption-title{
  display: none;
}
.index-cover-caption-title h1 {
  opacity: 0;
  text-align: left;
  font-size: 2.5rem;
  line-height: 3rem;
  width: 100%;
  font-weight: 400;
  margin-bottom: 24px;
}

.index-cover-caption-title h2 {
  display: none;
  font-size: 1.1rem;
  line-height: 1.75rem;
}

@media (min-width: 1024px) {
  .index-cover-caption-container {
    min-height: 400px;
    padding-left: 64px;
  }

  .index-cover-caption-title {
    display: block;
  }

  .index-cover-caption-title h1 {
    opacity: 1;
  }

  .index-cover-caption-title h2 {
    display: block;
  }

  .index-cover-passport {
    display: block;
  }

  .index-cover-caption-title {
    width: 50%;
  }
}

@media (min-width: 1280px) {
  .index-cover-caption-container {
    padding-left: 32px;
  }
  .index-cover-caption-title {
    padding-left: 32px;
  }
}

@media (min-width: 1536px) {
  .index-cover-caption-container {
    padding-top: 192px;
    padding-bottom: 192px;
  }
}

.icon {
  transition: 400ms ease;
}

.icon:hover {
  opacity: 0.8;
}
.skeletonAnimation {
  animation: skeleton 1s infinite alternate;

}
@keyframes skeleton {
  0% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #f5f5f5;
  }
}

/* ./frontend/src/app/[lang]/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-slideshow-image/dist/styles.css";


/******************************************* 
  Rich Text Styles
*******************************************/ 

/* Headers */
.rich-text h1 {
  @apply text-4xl font-bold mb-4 text-primaryColor;
}

.rich-text h2 {
  @apply text-3xl font-bold mb-4 text-primaryColor;
}

.rich-text h3 {
  @apply text-2xl font-bold mb-4 text-primaryColor;
}

.rich-text h4 {
  @apply text-xl font-bold mb-4 text-primaryColor;
}

.rich-text h5 {
  @apply text-lg font-bold mb-4 text-primaryColor;
}

.rich-text h6 {
  @apply text-base font-bold mb-4 text-primaryColor;
}

/* Horizontal rules */
.rich-text hr {
  @apply border-gray-300 my-8;
}

.rich-text a {
  @apply text-primaryColor underline;
}
.rich-text a:hover {
  @apply text-primaryColorHover underline;
}

/* Typographic replacements */
.rich-text p {
  @apply mb-4;
}

/* Emphasis */
.rich-text strong {
  @apply font-bold;
}

.rich-text em {
  @apply italic;
}

.rich-text del {
  @apply line-through;
}

/* Blockquotes */
.rich-text blockquote {
  @apply border-l-4 border-gray-400 pl-4 py-2 mb-4;
}

/* Lists */
.rich-text ul {
  @apply list-disc pl-4 mb-4;
}

.rich-text ol {
  @apply list-decimal pl-4 mb-4;
}

.rich-text li {
  @apply mb-2;
}

.rich-text li > ul {
  @apply list-disc pl-4 mb-2;
}

.rich-text li > ol {
  @apply list-decimal pl-4 mb-2;
}

/* Code blocks */
.rich-text pre {
  @apply font-mono bg-gray-900 text-gray-100 rounded p-4  my-6;
}

.rich-text code {
  @apply font-mono bg-gray-900 text-gray-100 rounded px-2 py-1;
}

/* Tables */
.rich-text table {
  @apply w-full border-collapse border-gray-300 my-6;
}

.rich-text th {
  @apply bg-gray-900 text-left py-2 px-4 font-semibold border-b border-gray-300;
}

.rich-text td {
  @apply py-2 px-4 border-b border-gray-300;
}

/* Images */
.rich-text img {
  @apply w-full object-cover rounded-xl my-6;
}

/* Custom containers */
.rich-text .warning {
  @apply bg-yellow-100 border-yellow-500 text-yellow-700 px-4 py-2 rounded-lg mb-4;
}

.react-slideshow-container [aria-label="Previous Slide"] {
  margin-left: 1rem;
}

.react-slideshow-container [aria-label="Next Slide"] {
  margin-right: 1rem;
}